// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

div.img
{
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  height: 250px;
  width: 250px;
  float: left;
  text-align: center;
}	
div.img img
{
  display: inline;
  margin: 5px;
  height:182px;
  width:200px;
  border: 1px solid #ffffff;
}
div.img a:hover img {border: 1px solid #0000ff;}
div.descrip
{
  text-align: center;
  font-weight: normal;
  width: 200px;
  margin: 5px;
}